extends ../base
include ../mixins/video

block content 
    form(method="GET").search__form
        input(name="keyword", placeholder="Search by title", value=keyword, type="text")
        button
            i.fas.fa-search
    if searched
        div.video-grid
            each video in videos 
                +video(video)
            else
                span.empty__message No videos found.