extends ../base

block content
    div.upload
        div.upload__recording
            div.upload__recording__preview
                span#preview_unavailable Preview Unavailable
                video#preview
            div.upload__recording__button
                button#actionBtn Turn on the webcam/mic
                button#actionBtn2.hidden-Retake Retake
        if errorMessage
            span=errorMessage
        form(method="POST", enctype="multipart/form-data").upload__form
            label(for="video") Video File
            input(name="video", type="file", id="video", accept="video/*", required)
            label(for="thumb") Thumbnal File
            input(name="thumb", type="file", id="thumb", accept="image/*", required)
            input(name="title", placeholder="Title",required, type="text", maxlength=80)
            input(name="description", placeholder="Description",required, type="text", minlength=10)
            input(name="hashtags", placeholder="Hashtags, separated by comma.",required, type="text")
            input(type="submit", value="Upload")

block scripts 
    script(src="/static/js/recorder.js")