mixin createdAgo(createdAt)
    -
        const diff = Math.floor((new Date()-new Date(createdAt))/1000)
        let timeAgo = ""
        const checkTimeDiff = () => {
            switch (true){
                case (diff <= 1): 
                    timeAgo = "Just Now";
                    break;
                case (diff < 59):
                    timeAgo = new Intl.RelativeTimeFormat('en-US').format(-diff, 'second')
                    break;
                case (diff <= 3540):
                    timeAgo = new Intl.RelativeTimeFormat('en-US').format(-Math.round(diff / 60), 'minute')
                    break;
                case (diff <= 82800):
                    timeAgo = new Intl.RelativeTimeFormat('en-US').format(-Math.round(diff / 3600), 'hour')
                    break;
                case (diff <= 518400):
                    timeAgo = new Intl.RelativeTimeFormat('en-US').format(-Math.round(diff / 86400), 'day')
                    break;
                case (diff <= 1814400):
                    timeAgo = new Intl.RelativeTimeFormat('en-US').format(-Math.round(diff/ 604800), 'week')
                    break;
                case (diff <= 26611200):
                    timeAgo = new Intl.RelativeTimeFormat('en-US').format(-Math.round(diff/ 2419200), 'month')
                    break;
                case (diff > 26611200):
                    timeAgo = new Intl.RelativeTimeFormat('en-US').format(-Math.round(diff/ 29030400), 'year')
                    break;
                default: 
                     timeAgo = "on " + createdAt.toLocaleDateString("Canada",{year: "numeric", month:"short", day:"numeric"})
                     break;
            }
        }
        checkTimeDiff()

    span.video__comment__info__createdAt.grayFont=timeAgo