@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

// Config
@import "./config/variables.scss";
@import "./config/reset.scss";

// Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";
@import "./components/comment.scss";
@import "./components/avatar.scss";
@import "./components/recording.scss";

// Screens
@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";
@import "./screens/404.scss";

// Defaults

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $white;
  color: $black;
  padding-bottom: 30px;
  overflow-x: hidden;
  transition: all 0.1s ease-in-out;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 20px;
  box-sizing: border-box;
}

.message {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 300px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 4s ease-in-out forwards;
  z-index: 200;
  &.error {
    background-color: tomato;
    color: $white;
  }
  &.info {
    background-color: rgb(156, 120, 0);
    color: $white;
  }
  &.success {
    background-color: rgb(41, 199, 41);
    color: $white;
  }
}

.hidden {
  visibility: hidden;
  transform: scale(0);
}

.default {
  color: $black;
  background-color: $white;
  .themeFontColor {
    color: $black;
  }
  .themeFontGray {
    color: #606060;
  }
  .themeFontGrayDarkest {
    color: $gray-darkest;
  }
  .themeBGColor {
    background-color: $white;
  }
  .themeBGColorReverse {
    background-color: $black;
  }
  .themeBGGrayLight {
    background-color: $gray-light;
  }
  .themeBGGrayLighter {
    background-color: $gray-lighter;
  }
  .themeBGGrayDark {
    background-color: $gray-dark;
  }
  .themeBGGrayDarkest {
    background-color: $gray-darkest;
  }
}

.darkmode {
  color: $white;
  background-color: $black;
  .themeFontColor {
    color: $white;
  }
  .themeFontGray {
    color: #a7a7a7;
  }
  .themeFontGrayDarkest {
    color: $gray-lighter;
  }
  .themeBGColor {
    background-color: $black;
  }
  .themeBGColorReverse {
    background-color: $white;
  }
  .themeBGGrayLight {
    background-color: $gray-dark;
  }
  .themeBGGrayLighter {
    background-color: $gray-darkest;
  }
  .themeBGGrayDark {
    background-color: $gray-light;
  }
  .themeBGGrayDarkest {
    background-color: $gray-lighter;
  }
}
