.search__container {
  margin-bottom: 50px;
}

.search__result__filter {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.search__result__span {
  display: flex;
  font-size: 22px;
  margin-bottom: 40px;
}
