.search__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  border: 1px solid $gray-dark;
  border-radius: 5px;

  button {
    all: unset;
    background-color: $gray-lighter;
    color: $black;
    text-align: center;
    border-left: 1px solid $gray-dark;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }
}
