.search__container {
  margin-bottom: 50px;

  .search__form {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 40px;

    input {
      border: 1px solid $gray-dark;
      transform: translateX(1px);
      &:focus {
        border: 1px solid $blue-dark;
      }
    }

    select {
      border: 1px solid $gray-dark;
      border-radius: 3px;
      padding: 0 5px;
      &:focus:active {
        border: 1px solid $blue-dark;
      }
    }

    button {
      all: unset;
      background-color: $gray-lighter;
      color: $black;
      text-align: center;
      border: 1px solid $gray-dark;
      padding: 15px 30px;
      cursor: pointer;
      border-radius: 0 5px 5px 0;
      transition: background-color ease-in-out 0.1s;

      &:hover {
        background-color: $gray-light;
      }
    }
  }
}

.search__result__filter {
  margin-bottom: 40px;
  display: flex;
  align-items: center;

  * {
    margin-right: 10px;
  }

  a {
    display: flex;
    margin-right: 10px;
    background-color: $gray-lighter;
    border: 1px solid $gray-light;
    padding: 8px;
    border-radius: 10px;
    color: rgba(70, 70, 70, 1);
    &:hover {
      background-color: $gray-light;
    }
  }

  .filter--selected {
    background-color: $gray-darkest;
    color: white;
  }
}

.search__result__span {
  display: flex;
  font-size: 22px;
  margin-bottom: 40px;
}
