.video__data {
  border-bottom: 1px solid $gray-light;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .video__data__info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    .video__title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    .video__meta {
      margin-bottom: 20px;
    }
  }
  .video__btns {
    height: 52px;
    position: relative;
    display: flex;
    align-items: center;

    .video__btns__like {
      margin-right: 15px;
    }

    .video__btns__delete {
      margin-left: 10px;
    }

    .video__btns__edit,
    .video__btns__delete {
      background-color: rgba(235, 235, 235, 1);
      padding: 10px 20px;
      border-radius: 100px;
      border: 1px solid $gray-light;
      cursor: pointer;
      font-size: 15px;
      i {
        margin-right: 10px;
      }
    }
  }
}

.video__subdata {
  border-bottom: 1px solid $gray-light;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 40fr auto;

  .video__owner__avatar {
    margin-right: 15px;
  }

  .video__info {
    display: flex;
    flex-direction: column;

    .video__info__owner {
      margin-bottom: 30px;

      .video__info__owner__name {
        font-size: 18px;
        font-weight: 600;
      }
      .video__info__owner__subs {
        margin-top: 5px;
      }
    }

    .video__description {
      margin-bottom: 40px;
    }

    .video__hashtags {
      display: flex;
      margin-bottom: 20px;

      .video__hashtag {
        display: flex;
        margin-right: 10px;
        background-color: $gray-lighter;
        border: 1px solid $gray-light;
        padding: 8px;
        border-radius: 10px;
        text-decoration: underline;
        color: $blue-dark;
      }
    }
  }
}

.video__commentCount {
  font-size: 18px;
  margin-bottom: 30px;
}

.video__comment__filters {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
