header {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    display: flex;
    align-items: center;
    i {
      color: $red;
      font-size: 38px;
    }
    span {
      color: black;
      font-size: 26px;
      font-family: "Oswald";
      font-weight: 500;
      letter-spacing: -1.5px;
      margin-left: 3px;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin: 0 15px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      transition: transform ease-in-out 0.1s;
      &:hover:not(:last-child) {
        transform: scale(1.2);
      }
    }

    i {
      font-size: 16px;
    }
  }
}

.header__btn__join {
  padding: 10px 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray-light;
  &:hover {
    border-color: $blue-light;
  }

  .header__btn__join__border {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid $blue-dark;
    margin-right: 5px;
  }
}
