.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}
.video-grid {
  width: 100%;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
  }
}

.avatar {
  border-radius: 50%;
}

.avatar--big {
  width: 150px;
  height: 150px;
  span {
    font-size: 50px;
    font-weight: 600;
  }
}

.avatar--medium {
  width: 40px;
  height: 40px;
  span {
    font-weight: 600;
  }
}

.avatar--small {
  width: 25px;
  height: 25px;
}

.avatar--missing {
  border-radius: 50%;
  background-color: $gray-darker;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
}

.subs-button {
  .subsBtn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 0, 0);
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
  }
  .subbed {
    background-color: rgb(0, 133, 11);
  }
}

.likeButton {
  all: unset;
  position: relative;
  background-color: rgba(235, 235, 235, 1);
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid $gray-light;
  cursor: pointer;
  span {
    margin-left: 10px;
  }
}

.alertContainer {
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 320px;
  height: auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 3px $gray-dark;
  background-color: $gray-lighter;

  .alert__title {
    margin: 10px 20px;
  }

  .alert__description {
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .alert__link {
    margin-left: 10px;
    width: 70px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.liked {
  background-color: rgba(0, 255, 0, 0.2) !important;
  i {
    color: red;
  }
}

.titleFont {
  font-size: 16px;
  font-weight: 500;
}

.grayFont {
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}

.linkFont {
  color: #2d7ce2;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    border-radius: 1000px;
    background-color: #def1ff;
  }
}
