.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}
.video-grid {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 20px;
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
  }
}

.avatar {
  border-radius: 50%;
}

.avatar--big {
  width: 150px;
  height: 150px;
  span {
    font-size: 50px;
    font-weight: 600;
  }
}

.avatar--medium {
  width: 40px;
  height: 40px;
  span {
    font-weight: 600;
  }
}

.avatar--small {
  width: 25px;
  height: 25px;
}

.avatar--missing {
  border-radius: 50%;
  background-color: $gray-darker;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: red;
}

.subs-button {
  .subsBtn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 0, 0);
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
    margin-left: 15px;
  }
  .subbed {
    background-color: rgb(0, 133, 11);
  }
}

.liked {
  background-color: rgba(0, 255, 0, 0.2) !important;
  .likeVideoIcon {
    color: red;
  }
}
