// video mixin

.video-mixin-container {
  .video-mixin__thumb {
    height: 160px;
    width: 100%;
    border-radius: 15px;
    background-color: gray;
    object-fit: cover;
  }

  .video-mixin__data {
    margin-top: 8px;
    padding: 0px 5px;
    display: grid;
    grid-template-columns: 1fr 4fr;

    .video-mixin__avatar {
      margin: 5px;
    }

    .video-mixin__info {
      margin: 5px;
      margin-top: 8px;

      .video-mixin__title {
        display: block;
        margin-bottom: 6px;
      }

      .video-mixin__meta {
        margin-top: 5px;

        div {
          margin-bottom: 5px;
        }
      }
    }
  }
}
