extends base
include mixins/message

block content 

    div.error__container
        h1.error__title Oops!!
        if pageTitle=="Video Not Found"
            i.error__icon.fas.fa-video-slash 
            p.error__description The video cannot be found.
        else if pageTitle=="User Not Found"
            i.error__icon.fas.fa-user-slash 
            p.error__description The user cannot be found.
        else 
            i.error__icon.fas.fa-exclamation-circle
            p.error__description You cannot access this page.
        a.error__link.linkFont(href="/")
            span GO TO HOME
