include ../mixins/avatar

header
    a(href="/").header__logo
        i.fab.fa-youtube
        span WeTube
    nav 
        ul 
            li 
                a(href="/search", tooltip="Search").tooltip
                    i.fas.fa-search
            if loggedIn 
                li 
                    a(href="/users/logout") Log Out
                li 
                    a(href="/videos/upload") Upload Video
                li 
                    a(href=`/users/${loggedInUser._id}`)
                        +avatar(loggedInUser, "medium")
            else
                li 
                    a(href="/login").header__btn__join.linkFont
                        div.header__btn__join__border
                            i.far.fa-user
                        span Sign In

        